{% extends "layout.html" %}

{% include 'navbar.html' %}

{% block content %}
	<div class="row row-cols-md-3 g-4 mt-5">
		<!-- Navigation boxes -->
		<div class="col">
			<a href="{{ url_for('search') }}" class="card h-100" style="text-decoration: none;">
				<div class="card-body box_shadow">
					<h5 class="card-title"><i class="bi bi-search"></i> <span class="ms-1 d-none d-sm-inline">Search Recipes</span></h5>
					<p class="card-text">You can search for recipes based on ingredients available to you.</p>
				</div>
			</a>
		</div>
		<div class="col">
			<a href="{{ url_for('view_favourite') }}" class="card h-100" style="text-decoration: none;">
				<div class="card-body box_shadow">
					<h5 class="card-title"><i class="bi bi-chat-square-heart-fill"></i> <span class="ms-1 d-none d-sm-inline">View Favourite Recipes</span></h5>
					<p class="card-text">User can save recipes here that were suggested by the ML model.</p>
				</div>
			</a>			
		</div>
		<div class="col">
			<a href="{{ url_for('shopping_list') }}" class="card h-100" style="text-decoration: none;">
				<div class="card-body box_shadow">
					<h5 class="card-title"><i class="bi bi-card-checklist"></i> <span class="ms-1 d-none d-sm-inline">Custom shopping list</span></h5>
					<p class="card-text">User can create custom shopping list for multiple recipes.</p>
				</div>
			</a>			
		</div>
	</div>
{% endblock content %}